:root {
  /* Base Color */
  --purple-base: #a76aed;

  /* Darker Shades (Top Row) */
  --purple-0: #a76aed;
  --purple-10: #965fd5;
  --purple-20: #8655be;
  --purple-30: #754aa6;
  --purple-40: #64408e;
  --purple-50: #543577;
  --purple-60: #432a5f;
  --purple-70: #322047;
  --purple-80: #21152f;
  --purple-90: #110b18;
  --purple-100: #000000;

  /* Lighter Tints (Bottom Row) */
  --purple-tint-0: #a76aed;
  --purple-tint-10: #b079ef;
  --purple-tint-20: #b988f1;
  --purple-tint-30: #c197f2;
  --purple-tint-40: #caa6f4;
  --purple-tint-50: #d3b5f6;
  --purple-tint-60: #dcc3f8;
  --purple-tint-70: #e5d2fa;
  --purple-tint-80: #ede1fb;
  --purple-tint-90: #f6f0fd;
  --purple-tint-100: #ffffff;

  --grey-shadow : #d9d9d9;
  --dark-input : #1F1F1F;
  --light-input : #F5F5F5;
  --dark-hr : #3b3b3b;
  --light-hr : #e8e8e8;
  --light-word-type : #6E6E6E;

}


*{
  /* outline: 2px solid red; */
}

/* helping classess */

.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-5{
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-18{
  gap: 18px;
}

.p-2 {
  padding: 2px;
}

.p-3 {
  padding: 3px;
}

.box-content {
  box-sizing: content-box;
}

.box-border {
  box-sizing: border-box;
}

.margin-auto{
  margin: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-0{
  margin: 0;
}

.clickable {
  cursor: pointer;
}


.italic{
  font-style: italic;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-50 {
  left: 50%;
}

.right-0 {
  right: 0;
}

.text-center{
  text-align: center;
}

.hidden{
  display: none;
}

body{
  padding: 50px 15px;
  max-width: 750px;
}

@media screen and (min-width : 576px){
  body{
    padding: 50px 25px;
  }
}

/* =========
BODY COLOR
======== */

.body--dark{
  background-color: var(--purple-100);
}

.body--light{
  background-color: var(--purple-tint-100);
}

/* ======
FONT
====== */

.body--dark .font{
  color: var(--purple-tint-100);
}

.body--light .font{
  color: var(--purple-100);
}

.font-hover:hover{
  color: var(--purple-10);
}


/* Sans serif */
.font--sans-serif{
  font-family: 'Inconsolata';
}

/* Serif */
.font--serif{
  font-family: 'Lora';
}

/* Mono */
.font--mono{
  font-family: 'Inter';
}

/* =======
NAV RIGHT
======= */

nav{
  width: 100%;
}
.nav-right{
  height: 200px;
}

/* ===========
THEME CHANGE
===========  */

/* scroll-btn */
.scroll-btn {
  width: 39px;
  height: 21px;
  background-color: var(--purple-tint-10);
  border-radius: 50px;
  position: relative;
}

/* scroll ball */
.scroll-ball {
  width: 13.5px;
  height: 13.5px;
  background-color: var(--purple-tint-100);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* scroll bar active */
.scroll-ball.move-left {
  right: 22.5px;
}

.scroll-btn-transition{
  background-color: var(--light-word-type);
}

.scroll-btn-transition:hover{
  background-color: var(--purple-tint-10);
}

/* theme change container */
.theme-change-container{
  border-left: 1px solid #3e3e3e;
  height: 55px;
  padding-left: 20px;
}

@media screen and (min-width:576px){
  .theme-change-container{
    padding-left: 30px;
  }
}

/* theme-change-icon */
.theme-change-icon{
  stroke: #838383;
}

/* theme-change-icon on hover */
.theme-change-icon:hover{
  stroke: #b079ef;
}

.font-handling-container{
  width: fit-content;
}

.selected-font-container{
  padding-right: 20px;
  width: 120px;
}

@media screen and (min-width : 576px){
  .selected-font-container{
    padding-right: 30px;
  }
}

/* selected font */
.selected-font{
  font-size: 18px;
  white-space: nowrap;
}

/* font selection container */
.font-selection-container{
  width: 160px;
  padding: 8px 20px;
  border-radius: 10px;
  right: 0;
}

.body--dark .font-selection-container{
  background-color: var(--purple-100);
  box-shadow: 0 0 15px 4px var(--purple-base);
}

.body--light .font-selection-container{
  background-color: var(--purple-tint-100);
  box-shadow: 0 0 10px 4px #d9d9d9;
}

/* font option */
.font-option{
  font-size: 18px;
}

/* =========
INPUT 
======== */

.input-container{
  /* padding-right: 25px; */
  margin-top: 40px;
  border-radius: 15px;
  border: 2px solid transparent;
  outline: none;
}

.body--dark .input-container{
  background-color: var(--dark-input);
}

.body--light .input-container{
  background-color: var(--light-input);
}

.body--dark .input-container:focus{
  border-color: white;
}   

.body--dark .input-container--active{
    border-color: white;
}

.body--light .input-container--active{
    border-color: var(--purple-0);
}

.body--light .input-container:focus{
    border-color: var(--purple-0);
}

#text-input{
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 0 25px;
  font-weight: 700;
  height: 55px;
  font-size: 16px;
}

@media screen and (min-width:756px){
  #text-input{
    height: 62px;
    font-size: 20px;
  }
}

/* search button */
.search-button{
  background-color: transparent;
  border: 0;
  width: 70px;
  outline: none;
    border: 2px solid transparent;

}

.body--dark .search-button:focus{
  border-color: white;
}

.body--light .search-button:focus{
  border-color: var(--purple-0);
}

/* ========
WORD SECTION
======== */

.word-wrapper{
  margin-top: 30px;
}

/* searched word */
.word{
  font-size: 35px;
  font-weight: 700;
}

@media screen and (min-width:768px){
  .word{
    font-size: 65px;
  }
}

/* searched word pronunciation */
.word-pro{
  color: var(--purple-base);
  font-size: 19px;
  margin-top: 15px;
}

@media screen and (min-width :768px){
  .word-pro{
    margin-top: 10px;
    font-size: 25px;
  }
}

/* play-button */

.play-button path,
.play-button circle {
  fill: #A445ED;
}

.play-button:hover circle{
  opacity: 1;
  fill: var(--purple-0);
}

.play-button:hover path{
  fill: white;
}

@media screen and (min-width:768px){
  .play-button{
    margin-top: 20px;
  }
}


/* =======
ERROR CONTAINER
======= */

.error-container{
  padding: 4px;
  border-radius: 5px;
  text-wrap: wrap;
}

.error-text{
  font-size: 12px;
  color: #fe8159;
}

/* =======
MEANING SECTION
======= */

.word-meaning-section{
  margin-top: 20px;
}

/* word type */
.word-type{
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width:768px){
  .word-type{
    font-size: 24px;
  }
}



/* horizontal line */
hr{
  display: block;
  width: 100%;
  height: 0;
}

.body--dark hr{
  border: 1px solid var(--dark-hr);
}

.body--light hr{
  border: 1px solid var(--light-hr);
}

/* word type (noun/verb/interjection) */
.word-type-heading{
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  color: var(--light-word-type);
}

@media screen and (min-width:768px){
  .word-type-heading{
    font-size: 20px;
  }
}


/* noun meaning list */
ul{
  padding-left: 20px;
}

.meaning{
  margin-top: 12px;
  line-height: 1.5;
  font-size: 16px;
}

@media screen and (min-width:768px){
  .meaning{
    font-size: 18px;
  }
}

li::marker{
  color: var(--purple-base);
  margin: 0;
}

/* synonyms list */
.synonyms-list-container{
  list-style-type: none;
  flex-wrap: wrap;
}

.synonyms-heading{
  font-size: 16px;
  font-weight: 400;
  color: var(--light-word-type);
}

@media screen and (min-width:768px){
  .synonyms-heading{
    font-size: 20px;
  }
}

.synonyms-list{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--purple-base);
}

.synonyms-list:hover{
  text-decoration: underline;
}

@media screen and (min-width:768px){
  .synonyms-list{
    font-size: 20px;
  }
}

/* ==========
VERB SECTION
========= */

.verb-meaning-section{
  margin-top: 20px;
}

.verb-example{
  color: var(--light-word-type);
  margin-top: 10px;
}


/* =======
ERROR
======= */

.error-section{
  margin-top: 80px;
}

@media screen and (min-width:768px){
  .error-section{
    margin-top: 40px;
  }
}

.error-emoji{
  font-size: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width:768px){
  .error-emoji{
    font-size: 80px;
  }
}

.error-heading{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (min-width:768px){
  .error-heading{
    font-size: 24px;
  }
}

.error-message{
  font-size: 16px;
}

@media screen and (min-width:768px){
  .error-message{
    font: 20px;
  }
}

/* 
=======
API URL
======= */

.api-URL-heading{
  font-size: 14px;
  color: var(--light-word-type);
}

.api-URL-text{
  font-size: 14px;
  text-decoration: underline;
}


